<div id:="page_wrapper">
  <div id:="profile_image">
    <%= image_tag "profile.jpg" %>
  </div>

  <div id:="content">
    <h1>Hey, I'm Andrei Isatchenko</h1>
    <p>Welcome to the first thing that actually looks like a website that I didn't completely copy/paste</p>
    <p>This was done by following the tutorial made by Mackenzie Child "How to build a blog in ruby on rails"</p>
    <p>And then making some changes so the code was more DRY and didn't look like ass</p>
  </div>
</div>